.news-page {
  &__head {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    margin-top: 72px;

    @media screen and (min-width: 576px) {
      padding-top: 48px;
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 24px;
    }
  }

  &__container {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
  }

  &__link-to-news {
    margin-bottom: 24px;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    outline: none;
  }

  &__icons {
    width: 24px;
    height: 24px;
    position: relative;
    transform: rotate(90deg);
  }

  &__link-title {
    font-size: 16px;
    line-height: 24px;
    color: #96a0aa;
    display: block;
    margin-left: 12px;

    &:hover {
      color: black;
    }
  }

  &__footer {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 0;

    @media screen and (min-width: 576px) {
      padding-top: 48px;
      padding-bottom: 24px;
    }
  }

  &__footer-heading {
    font-size: 34px;
    line-height: 48px;
    color: #000000;
    display: block;
    margin-bottom: 24px;

    @media screen and (min-width: 576px) {
      margin-bottom: 48px;
    }
  }
}
